[module]
  [module.hugoVersion]
    extended = true
    min = "0.146.0"
    max = ""
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'data'
    target = 'data'
  [[module.mounts]]
    source = 'layouts'
    target = 'layouts'
  [[module.imports]]
    path = "github.com/gethinode/mod-utils/v5"

[params.modules.hubspot]
  integration = "core"
  state = "async"

[params.modules.hubspot.csp]
  script-src = [
    "*.hsforms.net",
    "*.hs-scripts.com",
    "*.google.com",
    "*.gstatic.com"
  ]
  connect-src = [
    "*.hsforms.com",
    "*.hubspot.com"
  ]
  img-src = [
    "*.hsforms.net",
    "*.hsforms.com",
    "*.hubspot.com"
  ]
  frame-src = [
    "*.google.com",
    "*.hsforms.net",
    "*.hsforms.com"
  ]
  style-src = [
    "fonts.googleapis.com"
  ]
  form-action = [
    "*.hsforms.net",
    "*.hsforms.com"
  ]