<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ site.Title }}</title>
  <link rel=stylesheet href="style.css">
</head>
<body>
{{ block "main" . }}

{{ end }}
</body>
{{- $bundle := partial "utilities/bundle" (dict
    "match" "{js/*.js,js/vendor/**.js}"
    "filename" "js/main.bundle.js"
    "basepath" "js/modules"
    "all" true
    "debugging" site.Params.debugging.showJS
) -}}

{{- $js := $bundle | resources.ExecuteAsTemplate "js/hubspot.js" . -}}
<script src="{{ $js.RelPermalink }}" async></script>
</html>