<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

<!-- Initialize arguments -->
{{ $params := .Params }}
{{- if not .IsNamedParams }}
    {{ $params = dict "id" (.Get 0) }}
{{ end }}

{{ $args := partial "utilities/InitArgs.html" (dict "structure" "form" "args" $params) }}
{{ if $args.err }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial" "partials/form.html" 
        "msg" (printf "Invalid arguments: %s" .Position)
        "details" $args.errmsg
        "file" page.File
    )}}
{{ end }}

<!-- Main code -->
{{ partial "partials/form.html" (dict "id" $args.id "portal" $args.portal "region" $args.region) }}
